div#christmasgame {
	text-align: center;
}

section#gameSection {
	text-align: center;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	margin: 30px;
}

section#headerSection {
	padding-top: 20px;
}

section#footerSection {
	text-align: left;
}


canvas#mainCanvas {
	width: 600px;
	height: 450px;
	margin: 0px;
}

div#messagebox {
	margin-left: 20px;
}

div#legalInfo {
	margin-right: 20px;
}

div#christmasgame div#info {
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
}