div#christmasgame p {
	background-color: #D9351C;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

div#christmasgame h1, div#christmasgame h2 {
	color: white;
}

div#christmasgame h1 {
	font-family: 'Satisfy', cursive;
	font-size: 4.5rem;
	margin: 30px;
}

div#christmasgame h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
}

div#christmasgame h3 {
	font-weight: 200;
	font-size: 0.95rem;
}

div#christmasgame a {
	color: white;
	font-style: italic;
}

canvas#mainCanvas {
	
}

.hasShadow {
	border: 1px solid gray;
	-webkit-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.37);
	box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.37);
}

div#info {
	color: white;
	font-family: 'Satisfy', cursive;
	font-size: 1.5rem;
}

div#christmasgame {
	background-color: #D9351C;
}

div#createinfo {
	font-weight: lighter;
	text-align: center;
}